# Copy this file to secrets.toml and fill in your credentials.
# DO NOT commit secrets.toml to git!

AZURE_SQL_CONN_STR = "Driver={ODBC Driver 18 for SQL Server};Server=tcp:pharma-pipeline-sql.database.windows.net,1433;Database=pharma_pipeline_db;Uid=pharmaadmin;Pwd={YOUR_PASSWORD_HERE};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=120;"
